.box-center {
    display: inline-block;
    text-align: center;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 30px;
}

.box-left {
    display: inline-block;
    text-align: left;
    background: white;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 30px;
}

.box-dungeoncrawler {
    display: inline-block;
    background: black;
    border: 1px solid lightgrey;
    border-radius: 30px;
    padding: 30px;
}

.output-dungeoncrawler {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    line-height: 40%;
    text-align: left;
    white-space: pre-wrap;
    color: white;
}