.side-bar {
    height: 100%;
    width: 62px;
    position: fixed;
    top: 0;
    overflow-x: hidden;
    background-color: rgba(250, 250, 250, 0);
    z-index: -1;
}

.gradient-left {
    background: linear-gradient(90deg, rgba(150, 250, 250, 0.25), transparent);
    left: 0;
}

.gradient-right {
    background: linear-gradient(-90deg, rgba(150, 250, 250, 0.25), transparent);
    right: 0;
}


.gradient-top {
    background: linear-gradient(rgba(150, 250, 250, 0.3), transparent);
}


.button-default {
    background-color: slategray;
    color: black;
    font-weight: bold;
    margin: 1px;
}

.monospace-text {
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
    line-height: normal;
    text-align: left;
    color: black;
}

.header-static {
    font-size: 22px;
    font-weight: bold;
    padding: 0px;
    margin: 0px 0px 16px;
}

.header-responsive {
    padding: 0px;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 0px 16px;
}

.box-static {
    display: inline-block;
    text-align: left;
    background: white;
    border: 3px solid lightgrey;
    border-radius: 10px;
    padding: 24px;
}

.box-responsive {
    display: inline-block;
    text-align: left;
    background: white;
    border: 3px solid lightgrey;
    border-radius: 10px;
    padding: 24px;
}

.input-responsive-pad-small {
    padding-right: 22px;
}

.input-responsive-pad-large {
    padding-right: 32px;
}

.input-responsive {
    font-size: 16px;
    height: 30px;
}

.snake-current-length {
    background: white;
    border-width: 3px;
    border-color: lightgrey;
    border-radius: 0 10px 10px 0;
    border-style: solid solid solid none;
    padding: 5px;
    margin-bottom: 2px;
    width: 100%;
}

.snake-config {
    width: 300px;
    background: white;
    border-width: 3px;
    border-color: lightgrey;
    border-radius: 0 10px 0 0;
    border-style: solid solid none none;
    padding: 5px;
}

.snake-characters-responsive {
    display: inline-block;
    font-family: "Courier New", Courier, monospace;
    font-size: 42px;
    line-height: 70%;
    white-space: pre-wrap;
    color: black;
}

.snake-graphics {
    display: inline-block;
    position: relative;
    top: 30px;
}

.dungeoncrawler-output-responsive {
    display: inline-block;
    background: black;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px 12px 2px;
    font-family: "Courier New", Courier, monospace;
    font-size: 22px;
    line-height: 40%;
    text-align: left;
    white-space: pre-wrap;
    color: white;
}

.dungeoncrawler-manual-input {
    font-size: 11px;
    height: 32px;
    padding: 4px;
}

.dungeoncrawler-controls {
    display: flex;
    justify-content: center;
    z-index: 1;
    background: white;
    border-width: 3px;
    border-color: lightgrey;
    border-radius: 10px 10px 0 0;
    border-style: solid solid none solid;
    padding: 12px 12px 1px;
}

.dungeoncrawler-controls-button {
    background-color: slategray;
    color: black;
    font-weight: bold;
    margin: 1px;
    padding: 3px 7px;
}

.snake-controls {
    z-index: 1;
    background: white;
    border-width: 3px;
    border-color: lightgrey;
    border-radius: 10px 0 0 0;
    border-style: solid none none solid;
    padding: 1px;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    line-height: normal;
    text-align: left;
    color: black;
}

.snake-controls-button {
    background-color: slategray;
    color: black;
    font-weight: bold;
    margin: 1px;
    padding: 6px 12px;
}

.navmenu-header {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding: 8px;
}

.navmenu-border {
    border: 3px solid slategray;
    border-radius: 10px;
}

.navmenu-hover-background:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 750px) {
    .box-responsive {
        padding: 4px;
    }

    .header-responsive {
        font-size: 16px;
        margin: 0px 0px 4px;
    }

    .input-responsive-pad-small {
        padding-right: 19px;
    }

    .input-responsive-pad-large {
        padding-right: 26px;
    }

    .input-responsive {
        font-size: 12px;
        height: 20px;
    }

    .snake-config {
        width: 200px;
    }

    .snake-characters-responsive {
        font-size: 22px;
    }

    .dungeoncrawler-output-responsive {
        font-size: 11px;
        line-height: 8%;
        padding: 8px 1px;
    }

    .dungeoncrawler-controls {
        width: 100%;
        border-radius: 0;
        border-style: solid none none none;
        padding: 1px;
    }
}

@media only screen and (max-width: 350px) {
    .dungeoncrawler-output-responsive {
        font-size: 10px;
        line-height: 8%;
        padding: 8px 1px;
    }

    .navmenu-header {
        padding: 3px;
    }
}